* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

nav,
nav ul {
  display: flex;
}

nav {
  background-color: rgb(21, 160, 21);
  width: 100%;
  position: fixed;
  top: 0;
}

nav p {
  margin-right: auto;
  font-size: 2.5rem;
  font-weight: bold;
}

nav ul {
  justify-content: center;
  align-items: center;
}

nav ul li a {
  color: black;
}

nav ul li {
  font-size: 1.5rem;
  list-style: none;
  margin: 0 20px;
}

.landingPage {
  height: 100vh;
  background-image: url(/images/AsaWhite2.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  font-size: 2.7rem;
  font-weight: 550;
}

.landingPage div {
  margin: 0 250px;
}

.landingPage div p span {
  color: rgb(21, 160, 21);
}

.btn {
  color: black;
  background-color: rgb(21, 160, 21);
  padding: 8px 20px;
  border-radius: 5px;
}

.about {
  height: 100vh;
  background-color: rgb(30, 30, 30);
  color: white;
  width: 100%;
}

.about img {
  width: 500px;
  height: auto;
}

.aboutPics {
  display: flex;
  align-items: center;
}

.videoContainer video {
  width: 100%;
  height: auto;
}

.skills {
  height: 100vh;
}

footer {
  text-align: center;
  color: white;
  background-color: rgb(30, 30, 30);
}
